*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    .container{
        .row{
            
            width: 60%;
            margin-left: 5%;
            
        }
        .tab{
            padding-top: 100px;
            width: 100%;
            ul{
                font-family:'Courier New', Courier, monospace;
                display: flex;
                justify-content: space-between;
              
                li{
                    list-style: none;
                    text-align: center;
                    a{
                        border-radius: 20%;
                        border-bottom-left-radius: 0%;
                        border-bottom-right-radius: 0%;
                        text-decoration: none;
                        color: gray;
                        background-color: rgb(230, 223, 223);
                        padding: 20px;
                        &:hover{
                            background-color: rgb(0, 183, 255);
                            color: white;                   
                    }
                }
            }
        }
        }
    }
}
.card-body{
    h5{
        font-family:'Courier New', Courier, monospace;
    }
}
main{
    .container{
        .row{
            .img{
                width: 70%;
                margin-left: 10%;
                margin-top: 10%;
              
            }
        }
    }
}
main{
    .container{
        .row{
            .about{
                border-top: 2px solid rgb(0, 183, 255);
            }
        }
    }
}